body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:300px;
    margin:100px auto;
    padding:20px;
    background:white;
    border-radius:10px;
}

input, button{
    width:100%;
    padding:10px;
    margin:10px 0;
    box-sizing:border-box;
}